---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mt-[140px] mb-[140px] relative">
    <SectionTitle
      sectionTitle="Contáctanos"
      description="Si tienes alguna duda o consulta, no dudes en contactarnos. Estaremos encantados de ayudarte."
    />
    <Form />
  </div>
</Section>
