---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Testimonios"
      description="Para nosotros es muy importante saber las opiniones de nuestros clientes para poder mejorar continuamente."
    />
    <SwiperSlider />
  </div>
</Section>
